<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PerformanceCategoryName" value="PerformanceCategory" />
    <add key="SuccessfullLoginCounterName" value="SuccessfullLoginCounter" />
    <add key="FailedLoginCounterName" value="FailedLoginCounter" />
    <add key="LogoutCounterName" value="LogoutCounter" />
  </appSettings>
</configuration>